<nav class="navbar navbar-light bg-light justify-content-between mainnav">
  <a class="navbar-brand">Navbar</a>
  <a routerLink="/recipeslist">Add more yum yum!</a>
  <div>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn">Login</a>

    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn"
      >Logout</a
    >

    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn">Profile</a>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"
      ><!-- hidden spacer to center brand on mobile --></span
    >
    <a class="navbar-brand d-none d-lg-inline-block" href="#">
      YumYum
    </a>
    <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
      <img src="//placehold.it/40?text=LOGO" alt="logo" />
    </a>
    <div class="w-100 text-right">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
    <ul class="navbar-nav ml-auto flex-nowrap">
      <li class="nav-item">
        <a routerLink="/recipeslist" class="nav-link m-2 menu-item nav-active"
          >Search for yumyum</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="login" *ngIf="!loggedIn" class="nav-link m-2 menu-item"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          (click)="logout($event)"
          *ngIf="loggedIn"
          class="nav-link m-2 menu-item"
          >Logout</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="profile" *ngIf="loggedIn" class="nav-link m-2 menu-item"
          >Profile</a
        >
      </li>
    </ul>
  </div>
</nav>
